<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.getsoftwareCO.bajarvideosamicelulargratis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>


    <application
        android:name="com.getsoftwareCO.bajarvideosamicelulargratis.VDApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity
            android:name="com.getsoftwareCO.bajarvideosamicelulargratis.activity.SlashsActivity"
            android:exported="false" />
        <activity
            android:name="com.getsoftwareCO.bajarvideosamicelulargratis.activity.HistoryActivity"
            android:parentActivityName="com.getsoftwareCO.bajarvideosamicelulargratis.activity.MainActivity" />
        <activity android:name="com.getsoftwareCO.bajarvideosamicelulargratis.activity.GuideActivity" />
        <activity
            android:name="com.getsoftwareCO.bajarvideosamicelulargratis.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.getsoftwareCO.bajarvideosamicelulargratis.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="facebook.com" />
                <data android:host="www.instagram.com" />
                <data android:host="instagram.com" />
                <data android:host="www.dailymotion.com" />
                <data android:host="dailymotion.com" />
                <data android:host="vimeo.com" />
                <data android:host="m.vlive.tv" />
                <data android:host="www.tumblr.com" />
                <data android:host="m.twitch.tv" />
            </intent-filter>
        </activity>

        <service
            android:name="com.getsoftwareCO.bajarvideosamicelulargratis.download.DownloadManager"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.getsoftwareCO.bajarvideosamicelulargratis.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>